.navbar-main{
    padding: 10px 20px;
    width: auto;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between !important;
}

.cart-stick{
cursor: pointer;
}