.popup{
    background-color:transparent;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.box{
    background-color:rgb(243, 222, 222);
    width: 70%;
    margin: 0 auto;
    max-height: 70vh;
    overflow: auto;
    margin-top: calc(100vh - 85vh - 20px);
    padding: 20px;
    border-radius: 6px;
}
.box::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
/*checkout box*/
.checkout-prop{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  
}
.delete-btn{
    color: red;
    height:fit-content;
    width: fit-content;
    border: hidden;
    border-radius: 10px;
    margin-left: 5px;
}
.submit-btn-div{
    margin-bottom: 10px;
    width: 50%;
    justify-content: space-between;
}
.submit-btn-div button{
    margin-top: 5px;
    margin-right: 10px;
    border: hidden;
    padding: 5px;
    border-radius: 5px;
   
}
.btn-cancel{
    background-color: rgb(95, 150, 95);
}
.btn-confirm{
    background-color: blue;
}
.checkout-total{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;
    padding-top: 2px;
}
.card-input{
    display: flex;
    justify-content: space-between;
}
.card-date{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    width: 100%;

}
.card-date input{
    width: 30%;
}
.confirm-btn{
    background-color: rgb(131, 131, 221) ;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px ;
}